#fountainTextG{
    width:234px;
    margin:auto;
}

.fountainTextG{
    color:rgba(227,255,209,0.95);
    font-family:Arial;
    font-size:24px;
    text-decoration:none;
    font-weight:normal;
    font-style:normal;
    float:left;
    animation-name:bounce_fountainTextG;
    -o-animation-name:bounce_fountainTextG;
    -ms-animation-name:bounce_fountainTextG;
    -webkit-animation-name:bounce_fountainTextG;
    -moz-animation-name:bounce_fountainTextG;
    animation-duration:2.64s;
    -o-animation-duration:2.64s;
    -ms-animation-duration:2.64s;
    -webkit-animation-duration:2.64s;
    -moz-animation-duration:2.64s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    transform:scale(.5);
    -o-transform:scale(.5);
    -ms-transform:scale(.5);
    -webkit-transform:scale(.5);
    -moz-transform:scale(.5);
}#fountainTextG_1{
     animation-delay:0.94s;
     -o-animation-delay:0.94s;
     -ms-animation-delay:0.94s;
     -webkit-animation-delay:0.94s;
     -moz-animation-delay:0.94s;
 }
#fountainTextG_2{
    animation-delay:1.13s;
    -o-animation-delay:1.13s;
    -ms-animation-delay:1.13s;
    -webkit-animation-delay:1.13s;
    -moz-animation-delay:1.13s;
}
#fountainTextG_3{
    animation-delay:1.32s;
    -o-animation-delay:1.32s;
    -ms-animation-delay:1.32s;
    -webkit-animation-delay:1.32s;
    -moz-animation-delay:1.32s;
}
#fountainTextG_4{
    animation-delay:1.51s;
    -o-animation-delay:1.51s;
    -ms-animation-delay:1.51s;
    -webkit-animation-delay:1.51s;
    -moz-animation-delay:1.51s;
}
#fountainTextG_5{
    animation-delay:1.7s;
    -o-animation-delay:1.7s;
    -ms-animation-delay:1.7s;
    -webkit-animation-delay:1.7s;
    -moz-animation-delay:1.7s;
}
#fountainTextG_6{
    animation-delay:1.89s;
    -o-animation-delay:1.89s;
    -ms-animation-delay:1.89s;
    -webkit-animation-delay:1.89s;
    -moz-animation-delay:1.89s;
}
#fountainTextG_7{
    animation-delay:2.07s;
    -o-animation-delay:2.07s;
    -ms-animation-delay:2.07s;
    -webkit-animation-delay:2.07s;
    -moz-animation-delay:2.07s;
}
#fountainTextG_8{
    animation-delay:2.26s;
    -o-animation-delay:2.26s;
    -ms-animation-delay:2.26s;
    -webkit-animation-delay:2.26s;
    -moz-animation-delay:2.26s;
}




@keyframes bounce_fountainTextG{
    0%{
        transform:scale(1);
        color:rgb(224,255,255);
    }

    100%{
        transform:scale(.5);
        color:rgb(255,255,255);
    }
}

@-o-keyframes bounce_fountainTextG{
    0%{
        -o-transform:scale(1);
        color:rgb(224,255,255);
    }

    100%{
        -o-transform:scale(.5);
        color:rgb(255,255,255);
    }
}

@-ms-keyframes bounce_fountainTextG{
    0%{
        -ms-transform:scale(1);
        color:rgb(224,255,255);
    }

    100%{
        -ms-transform:scale(.5);
        color:rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_fountainTextG{
    0%{
        -webkit-transform:scale(1);
        color:rgb(224,255,255);
    }

    100%{
        -webkit-transform:scale(.5);
        color:rgb(255,255,255);
    }
}

@-moz-keyframes bounce_fountainTextG{
    0%{
        -moz-transform:scale(1);
        color:rgb(224,255,255);
    }

    100%{
        -moz-transform:scale(.5);
        color:rgb(255,255,255);
    }
}